/* Fondo personalizado del login */
div[data-testid="stAppViewContainer"] {
    background-image: url("https://wallpapers.com/images/hd/agriculture-background-zb06jbplfqoilptw.jpg");
    background-size: cover; /* Usar el fondo completo */
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}
/* Texto del título */
h1 {
    font-family: 'Arial', sans-serif;
    color: #4CAF50; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
    text-align: center;
}

h3.custom-h3 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra más ligera */
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Configuracion sobre boton */
.stButton>button {
    background-color: #4CAF50; 
    color: white !important;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #4CAF50; 
}

/* Hover en botón */
.stButton>button:hover {
    border-color: #1B5E20 !important; 
    background-color: #A5D6A7; 
    color: #1B5E20 !important;
}

.stButton>button:active {
    background-color: #388E3C; 
    color: white !important; 
    border-color: #1B5E20; 
}

/* Contorno verde cuando se selecciona (focus) */
div[data-testid="stTextInput"] > div > input:focus, 
div[data-testid="stSelectbox"] > div > div:focus-within,
.stButton>button:focus-visible {
    border: 2px solid #1B5E20 !important
}

